html body {height: 100%;}

.wrap { margin-left:0!important}

#gpp_base_options h2 {
    margin-bottom: 20px;
}
#gpp_base_options h2 span{
    color: #888;
    font-size: 10px;
    font-style: normal;
    font-family: verdana,arial;

    
}
#gpp_base_options h2 span a{ color: #aaa; text-decoration: none;}
#gpp_base_options h2 span a:hover{ color: #888; text-decoration: underline;}
    
    
#gpp_base_options .title {
    margin: 10px 0 0 0 !important;
    padding: 10px 15px;
    /* width: 720px; */
	min-width:600px;
    background: #f1f1f1; 
    border:#e3e3e3 solid 1px;
    -moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}

#gpp_base_options .title h3 {font-size: 24px;font-family : arial, serif;letter-spacing: -1px; font-weight: normal !important; margin:0!important; cursor: pointer; width:550px;  height:30px; line-height: 1.2;      }

#gpp_base_options p.help {font-size: 1.3em; font-style: normal; padding: 5px 0 0 80px; background: url(../images/warning.png) no-repeat scroll 0 0 transparent; }

#gpp_base_options .icon {padding-left: 30px;}
#gpp_base_options .configure {background: url(../images/config.png) no-repeat scroll 0 0 transparent;}
#gpp_base_options .browse {background: url(../images/search.png) no-repeat scroll 0 0 transparent;}

#gpp_base_options .title p.submit { float:right; padding:0px;}

#gpp_base_options .gpp-expand { 
	background:#ddd;
	color:#777;
	cursor:pointer;
	display:block;
	float:left;
	font-size:15px;
	margin-right:10px;
	padding:6px 0 0 ;
	height:25px; width: 30px; text-align: center;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#gpp_base_options .container {
    background: #EAF3FA;
    padding: 10px;
}

#gpp_base_options .titledesc, #transport_settings .titledesc {
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 2em;
    float: left;
    width: 150px;
    margin-right: 10px;
	cursor: auto;
}

#gpp_base_options .gpp_base_pages_title, #gpp_base_options .gpp_base_contact_info, #gpp_base_options .gpp_base_photoshelter, #gpp_base_options .gpp_base_link_addition, #gpp_base_options .gpp_base_iphone, #gpp_base_options .gpp_base_video {
	border-top: 1px solid #ddd;
}

#gpp_base_options .gpp_base_category_title .titledesc, #gpp_base_options .gpp_base_pages_title .titledesc, #gpp_base_options .gpp_base_contact_info .titledesc, #gpp_base_options .gpp_base_photoshelter .titledesc, #gpp_base_options .gpp_base_photoshelter_name .titledesc, #gpp_base_options .gpp_base_link_addition .titledesc, #gpp_base_options .gpp_base_iphone .titledesc, #gpp_base_options .gpp_base_video .titledesc {
	padding-left:34px;
	width: 125px;
}

#gpp_base_options .gpp_base_category_title .titledesc {
	background:url("../images/categories.png") no-repeat scroll 0 0 transparent;
}
	
#gpp_base_options .gpp_base_pages_title .titledesc {
	background:url("../images/pages.png") no-repeat scroll 0 0 transparent;
}

#gpp_base_options .gpp_base_contact_info .titledesc {
	background:url("../images/contact.png") no-repeat scroll 0 0 transparent;
}

#gpp_base_options .gpp_base_photoshelter .titledesc, #gpp_base_options .gpp_base_photoshelter_name .titledesc {
	background:url("../images/ps_menu_icon.png") no-repeat scroll 0 0 transparent;
}

#gpp_base_options .gpp_base_link_addition .titledesc {
	background:url("../images/customize.png") no-repeat scroll 0 0 transparent;
}

#gpp_base_options .gpp_base_iphone .titledesc {
	background:url("../images/iphone.png") no-repeat scroll 0 0 transparent;
}

#gpp_base_options .gpp_base_video .titledesc {
	background:url("../images/video.png") no-repeat scroll 0 0 transparent;
}

#gpp_base_options .formcontainer, #transport_settings  .formcontainer{
    float: left;
    width: 490px;
}

#gpp_base_options .forminp, #transport_settings  .forminp {
    float:left;

	margin-right:15px;
	max-width:290px;
}

#gpp_base_options .forminp input,#gpp_base_options .forminp select,#gpp_base_options .forminp textarea, #transport_settings  textarea {
    margin-bottom: 9px !important;
    background-color: #f1f1f1;
    border: 1px solid;
    border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
    width: 275px;  
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,sans-serif;
    font-size: 12px;
}
#gpp_base_options .forminp select {
padding: 0 0 0 4px; width: 275px;
} 

#gpp_base_options .forminp input.upload-input-text { width:266px; -moz-border-radius:4px 4px 4px 4px; }


#gpp_base_options .forminp input:focus,.forminp select:focus,.forminp textarea:focus { background:#fff}

#gpp_base_options .forminp span {
    font-size: 9px !important;
    font-weight: normal !important;
    line-height: 14px !important;
}

#gpp_base_options .input-text-small { width:80px!important;}
#gpp_base_options .meta-two { margin:0 10px}

#gpp_base_options .info {
    background: #FFFFCC url(../images/info.png) no-repeat 10px center;
    border: 1px dotted #D8D2A9;
    padding: 20px 20px 20px 80px;
    color: #333;
    min-width:800px;
}

#gpp_base_options .forminp .checkbox {
    width: 20px;
    border:0;
    background: transparent none;
	margin-top:0;
}

#gpp_base_options .option-radio input {
    width: 30px;
    text-align: left;  
}

#gpp_base_options .info a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #333
}

#gpp_base_options .info a:hover {
    color: #666;
    border-bottom: 1px dotted #666;
}
#gpp_base_options .welcome{float: left; padding-top:4px;}

#gpp_base_options .warning {
    background: #ffeeee url(../images/warning.png) no-repeat 10px center;;
    border: 1px dotted #cc0000;
    padding: 20px 20px 20px 80px;
    color: #333;
    font-weight: bold;
    width:220px;
	position:absolute;	
	left:40%;
	overflow:hidden;
	z-index:9999;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;	
}

#gpp_base_options .errors {
    background: #fded82 url(../images/warning.png) no-repeat 10px center;
    border: 1px dotted #fcc55c;
    padding: 20px 20px 20px 80px;
    color: #333;
    font-weight: normal;
    width:650px;
}

#gpp_base_options .errors ul{ list-style: outside; padding-left: 30px; }
#gpp_base_options .errors ul li{  padding:  5px 0;}

#gpp_base_options .happy {
    background: #ccffcc url(../images/accepted.png) no-repeat 10px center;
    border: 1px dotted #00CC00;
    padding: 20px 20px 20px 80px;
    color: #060;
    font-weight: bold;
    width:220px;
	position:absolute;	
	left:40%;
	overflow:hidden;
	z-index:9999;
	-moz-border-radius:8px; 
	-webkit-border-radius:8px;
}

#gpp_base_options .desc, #transport_settings  .desc {
    font-size: 10px;
    color: #999; 
    vertical-align: middle !important;
    overflow: hidden;
}

/* Make me Speacial */



#gpp_base_options .option_content {
   min-width:700px;
   overflow:hidden;
   
}
#gpp_base_options .option_content h3 {
	padding-bottom:8px;
	padding-left: 10px;
	border-bottom:1px solid #e3e3e3;
	width:685px;
}
#gpp_base_options .image_uploader .option-inner{}


#gpp_base_options .option, #transport_settings  .option {    
    width: 685px;

	overflow:hidden;	
}

#gpp_base_options .option-inner, #transport_settings  .option-inner {
    float: left;
    padding:10px 15px;
    margin: 12px 15px;
    width: 650px;
}
#gpp_base_options .option-hidden > .option-inner {margin:0;padding:0;}
#gpp_base_options .uploader_page { background-color:#f1f1f; border:0px solid #e6e6e6; border-width:0px 1px 1px 1px; padding:10px; width:655px}
#gpp_base_options .uploader_page_image {float:left}
#gpp_base_options .uploader_page_input { margin-left:260px; }
#gpp_base_options .uploader_page_input span { font-size:12px; display:block; margin-bottom:5px; font-weight:700}
#gpp_base_options .uploader_page_input input {border:1px solid #ddd; padding:4px; width:460px; font-size:11px; background-color:#f1f1f1}

#gpp_base_options .upload_input {width:134px !important; border:#ccc;outline: none;}
#gpp_base_options .upload_save {width:70px !important; padding:2px 1px !important;}
#gpp_base_options .upload_browse{ width:58px !important; padding:2px 1px !important;}


#gpp_base_options #gpp-icon {
    background: transparent url(../images/icon-48.png) no-repeat scroll 0 6px;
    width: 48px
}

.submit-footer { float: left; margin-right: 20px;}
.reset-button { color: red !important; border: 1px solid #ededed !important; position: absolute; right: 250px; }

#scrollme {text-align: right; position:absolute;top:52px; left:758px}
*+html #scrollme {left:708px}
#scrollme p{ background: #ddd; padding: 10px 20px; position: block; background: #D6FFD0; border: #ACFFA0 1px solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px}

div.previewimg {
	position:relative;
}

div.previewimg {
	position:relative;
	width:275px;
}
div.previewimg img.uploadedimg {
	width:275px;
}

div.previewimg img#image_gpp_base_custom_favicon{
	/* width:100px; */
}

div.previewimg #delete {
	position:absolute;
	left:0;
	background:#eeeeee;
	opacity:0.75;	
	padding:5px;
	margin:5px;	
	-moz-border-radius:4px;	
	-webkit-border-radius:4px;
}
div.previewimg #editimg {
	position:absolute;
	left:40px;
	background:#eeeeee;
	opacity:0.75;	
	padding:5px;
	margin:5px;	
	-moz-border-radius:4px;	
	-webkit-border-radius:4px;
}
div.previewimg #delete.hover, div.previewimg #editimg.hover {
	cursor:pointer;
}

#menusub {	
	position:absolute;	
	top: 0;
}
#menusub.fixed {
  	position: fixed;
  	top: 0px;	
	-moz-border-radius:8px 8px 0 0;
	-webkit-border-radius:8px 8px 0 0;
}

#menusub  ul.menulist  li {	
	margin:0;		
}
#menusub  ul.menulist  li a.currentnav {
	background:#fff;
	border-left:1px solid transparent;
	color:#000000;
}

#menusub  ul.menulist  li a {
	text-decoration:none;
	font-weight:bold;	
	padding:6px 10px;
	border:1px solid #E3E3E3;
	display:block;
	width:178px;
	border-top:none;
	background: #eee;
}

#theme_options {
	min-width:900px;
	background: #fff url(../images/menu-bg.gif) repeat-y right top;
}
#menublock {
	width:200px;
	position:relative;
	float:right;	
}

#optionblock {
	border:1px solid #e3e3e3;
	border-top: none;
	display:none;
	min-height: 400px;

}

.gppsave {width: 110px;}

.hidden  {
	display:none;
}
.clear {
	clear:both;
}

#addelement, #deleteelement {	
	width:55px !important;	
}

label {vertical-align: top;}

/* Sortable application */
.sortapps {
	padding:7px 20px;
	border:1px solid #dddddd;
	background:#FFFfff;
}
.ui-state-highlight {
 height: 2.5em;
 line-height: 1.2em;
 background:#FFF8AF;
 border:1px solid #FFE900;
}

.gpp_update {
	padding: 10px 0 5px !important;
}

.gpp_message {
	position: relative;
	z-index: 100;
	border: 1px solid #15404a !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url( ../images/gpp-gear.png ) 98% 50% no-repeat;
	background-color: #326A77 !important;
	-webkit-box-shadow: inset 0 0 15px rgba( 0,0,0,0.04 );
	-moz-box-shadow: inset 0 0 15px rgba( 0,0,0,0.04 );
	box-shadow: inset 0 0 15px rgba( 0,0,0,0.04 );
	padding: 18px 90px 8px 15px !important;
	overflow: hidden;
	line-height: 180%;
}

.gpp_message .holder {
	max-width: 940px;
	margin: 0 auto 2px;
	padding: 0 10px;
	text-align: left;
	overflow: hidden;
}

.gpp_update_page {
	margin:3em 2em 3em 0;
	background-image: none;
}

.gpp_update_page h2 {
	margin-bottom: 1em;
	font-size: 32px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
	display: block;
}

.gpp_update_page ul li {
	margin: 10px 0;
	padding-left: 30px;
	font-size: 18px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
	font-weight: normal;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
	display: block;
	background: transparent url(../images/warning-24x24.png) no-repeat 0 50%;
}

.gpp_update_page ol, .gpp_update_page ul {
	margin-bottom: 3em
}

.gpp_update_page ol {
	margin: 10px 0;
	padding-left: 30px;
	font-size: 18px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
	font-weight: normal;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
	display: block;
}

.gpp_message h4 {
	margin: 0 10px 10px 0;
	font-size: 18px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
	font-weight: normal;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
}

.gpp_message h4.loader {
	padding-right: 40px;
	background: transparent url(../images/loading.gif) no-repeat 100% 50%;
}

.gpp_message p {
	margin: -1px 0 0 0 !important;
	padding: 0;
	display: inline-block;
}

.gpp_message p a.button-primary {
	font-size: 16px !important;
	display: inline-block;
	padding: 8px 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #f69b8a;
	background: #E84C26;
	-webkit-box-shadow: inset 1px 1px 6px #f7765d;
	-moz-box-shadow: inset 1px 1px 6px #f7765d;
	box-shadow: inset 1px 1px 6px #f7765d;
	text-shadow: 0px -1px 0px rgba( 0,0,0,0.5);
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	cursor: pointer;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
}


.gpp_update_page p a.button-primary {
	margin:2em 0;
}

.gpp_message p a.button-primary:hover, .gpp_message p a.button-primary:active {
	background-color: #df2906;
	border-color: #f4c6bd;
	-webkit-transition-duration: .3s;
	outline: none;
}

.gpp_update_page li a, .gpp_message h4 a {
	border-bottom: 1px dotted #fff;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
}

.gpp_message h4 a:hover, .gpp_message h4 a:active {
	-webkit-transition-duration: .3s;
	color: #FFFFCC;
	text-shadow: 0 0 1px #fff;
}